/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Introduction
        etc.
    5. Media Queries
////////////////////////*/


@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


/* ------------------------------- 1. Global Styles -------------------------------- */


:root {
    /* background colors */
    --color-bg-1: #5722CD;
    --color-bg-2: #4845E4;
    --color-bg-3: #F3F6F9;

    /* accent colors */
    --color-button: #ED4385;

    /* text colors */
    --color-text: #0C0C0C;
    --color-text-grey:#7A7A7A;
    --color-text-white: #F2F0FF;
    --color-text-purple: #5722CD;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}


/* ------------------------------- 2. Typography ----------------------------------- */


h1, h2, h3, h4, h5, h6 {
    font-family: "Merriweather", Arial, sans-serif;
}

body {
    font-family: "Roboto", Arial, sans-serif;
}


/* ------------------------------- 3. Layout --------------------------------------- */

/* --------------- 3.1 Reusables ----------------------- */

/* --------------- 3.2 Other --------------------------- */

/* ------------------------------- 4. Areas ---------------------------------------- */

/* --------------- 4.1 Header ------------------------- */

.header-container {
    position: relative;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    /*background-color: var(--color-bg-2);*/
    background: #5722CD;
    background: linear-gradient(301deg, rgba(87, 34, 205, 1) 0%, rgba(72, 69, 228, 1) 50%);}

.navbar {
    display: flex;
    /*border: black dashed 1px;*/
    width: 100%;
    justify-content: flex-end;
    color: var(--color-text-white);
    padding: 1rem 1rem;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 1.2rem;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    font-weight: 300;
    justify-content: space-between;
    /*border: hotpink dashed 1px;*/
    width: 500px;
}

.navbar ul li {
    margin: 0 1rem;
}

.hero {
    align-items: center;
    justify-content: center;
    /*border: black dashed 1px;*/
    padding: 30px 50px 150px 50px;
    margin: 50px auto;
    text-align: center;
    color: var(--color-text-white);
}

h1 {
    font-size: 2.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 800px;
    padding: 1.5rem;
    /*border: hotpink dashed 1px;*/
}

.hero p {
    font-size: 1.3rem;
    font-weight: 300;
    padding: 10px 0;
    margin-bottom: 2rem;
}

.hero a {
    background-color: var(--color-button);
    padding: 1rem 2rem;
    border-radius: 25px;
    color: var(--color-text-white);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    font: 400 0.7rem "Roboto", Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

a:visited {
    color: var(--color-text-white);
}

.header-img{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
}


/* --------------- 4.2 Introduction ------------------- */

.introduction-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    /*border: black dashed 5px;*/
    background-color: var(--color-bg-3);
}

.introduction-text {
    text-align: center;
    width: 700px;
    color: var(--color-text-purple);
    padding: 1rem;
    /*border: black dashed 2px;*/
}

.introduction-link {
    margin-top: 5rem;
    font-weight: 500;
}

.introduction-link a {
    color: var(--color-text-purple);
}

a:visited {
    color: var(--color-text-purple);
}


/* ------------------------------- 5. Media Queries -------------------------------- */
